.formInput {
  width: 500px;
  font-size: 18px;
  border: 3px solid #7d1515;
  background: #F6F6f6;
  border-radius: 8px;
  height: 32px;
}

.formInput::placeholder {
  color: black;
}

.formButton {
  font-size: 18px;
  border: 3px solid hsl(0, 5%, 96%);
  background: #7d1515;
  border-radius: 8px;
  height: 32px;
  color: white;
}

.todosFilter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  color: #7d1515;
  font-family: Times, Times New Roman, serif;
  font-size: 24px;
}