.App {
  text-align: center;
}
.counter{
display: flex;justify-content: center; margin: 0 auto;
 padding: 0 auto;
  margin-top: 30px;
  font-size: 18px;
  background-color: grey;
    border-radius: 8px;
    height: 32px;
   width: 200px;
    color: white;
}
